<demo-layout>
  <form class="demo">
    @if (shippingForm().metadata(SAME_COUNTRY)?.()) {
      <strong>Info:</strong> Domestic shipping.
    }
    <fieldset>
      <legend>Sender</legend>
      <div class="mb-2">
        <label class="input-label" for="name"> Name </label>
        <input
          [field]="shippingForm.sender.name"
          class="input-field"
          id="name"
          type="text"
          placeholder="Name"
          autocomplete="name"
        />
        @for (error of shippingForm.sender.name().errors(); track $index) {
          <p class="input-error">{{ error.message }}</p>
        }
      </div>
      <div class="flex">
        <div class="mb-2 mr-2">
          <label class="input-label" for="country"> Country </label>
          <input
            [field]="shippingForm.sender.address.country"
            class="input-field"
            id="address-country"
            placeholder="Country"
            autocomplete="address-country"
          />
          @for (error of shippingForm.sender.address.country().errors(); track $index) {
            <p class="input-error">{{ error.message }}</p>
          }
        </div>
        <div class="mb-2 mr-2">
          <label class="input-label" for="address-city"> City </label>
          <input
            [field]="shippingForm.sender.address.city"
            class="input-field"
            id="address-city"
            placeholder="City"
            autocomplete="address-city"
          />
          @for (error of shippingForm.sender.address.city().errors(); track $index) {
            <p class="input-error">{{ error.message }}</p>
          }
        </div>
      </div>
      <div class="flex">
        <div class="mb-2 mr-2">
          <label class="input-label" for="address-postal"> Postal Code </label>
          <input
            [field]="shippingForm.sender.address.postalCode"
            class="input-field"
            id="address-postal-code"
            placeholder="Postal Code"
            autocomplete="address-postal-code"
          />
          @for (error of shippingForm.sender.address.postalCode().errors(); track $index) {
            <p class="input-error">{{ error.message }}</p>
          }
        </div>
        <div class="mb-2 mr-2">
          <label class="input-label" for="address"> Street </label>
          <input
            [field]="shippingForm.sender.address.street"
            class="input-field"
            id="address-street"
            placeholder="Street"
            autocomplete="address-street"
          />
          @for (error of shippingForm.sender.address.street().errors(); track $index) {
            <p class="input-error">{{ error.message }}</p>
          }
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Recipient</legend>
      <div class="mb-2">
        <label class="input-label" for="name"> Name </label>
        <input
          [field]="shippingForm.recipient.name"
          class="input-field"
          id="name"
          type="text"
          placeholder="Name"
          autocomplete="name"
        />
        @for (error of shippingForm.recipient.name().errors(); track $index) {
          <p class="input-error">{{ error.message }}</p>
        }
      </div>
      <div class="flex">
        <div class="mb-2 mr-2">
          <label class="input-label" for="country"> Country </label>
          <input
            [field]="shippingForm.recipient.address.country"
            class="input-field"
            id="address-country"
            placeholder="Country"
            autocomplete="address-country"
          />
          @for (error of shippingForm.recipient.address.country().errors(); track $index) {
            <p class="input-error">{{ error.message }}</p>
          }
        </div>
        <div class="mb-2 mr-2">
          <label class="input-label" for="address-city"> City </label>
          <input
            [field]="shippingForm.recipient.address.city"
            class="input-field"
            id="address-city"
            placeholder="City"
            autocomplete="address-city"
          />
          @for (error of shippingForm.recipient.address.city().errors(); track $index) {
            <p class="input-error">{{ error.message }}</p>
          }
        </div>
      </div>
      <div class="flex">
        <div class="mb-2 mr-2">
          <label class="input-label" for="address-postal"> Postal Code </label>
          <input
            [field]="shippingForm.recipient.address.postalCode"
            class="input-field"
            id="address-postal-code"
            placeholder="Postal Code"
            autocomplete="address-postal-code"
          />
          @for (error of shippingForm.recipient.address.postalCode().errors(); track $index) {
            <p class="input-error">{{ error.message }}</p>
          }
        </div>
        <div class="mb-2 mr-2">
          <label class="input-label" for="address"> Street </label>
          <input
            [field]="shippingForm.recipient.address.street"
            class="input-field"
            id="address-street"
            placeholder="Street"
            autocomplete="address-street"
          />
          @for (error of shippingForm.recipient.address.street().errors(); track $index) {
            <p class="input-error">{{ error.message }}</p>
          }
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Select the type of shipment:</legend>
      <div>
        <input [field]="shippingForm.shipmentType" type="radio" id="document" value="document" />
        <label class="ml-2" for="document">Document</label>
      </div>
      <div>
        <input [field]="shippingForm.shipmentType" type="radio" id="package" value="package" />
        <label class="ml-2" for="package">Package</label>
      </div>
    </fieldset>

    @if (shippingForm.shipmentType().value() === 'package') {
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mb-4"
        type="button"
        (click)="addPackage()"
      >
        + Add Package
      </button>
      <fieldset>
        <legend>Packages</legend>
        @for (item of shippingForm.packages; track item; let idx = $index) {
          <div class="mb-2">
            <label class="input-label" for="description-{{ idx }}"> Description </label>
            <input
              [field]="item.description"
              class="input-field"
              id="description-{{ idx }}"
              type="text"
              placeholder="Description"
              autocomplete="description"
            />
            @for (error of shippingForm.packages[idx].description().errors(); track $index) {
              <p class="input-error">{{ error.message }}</p>
            }
          </div>
          <div class="flex">
            <div class="mb-2 mr-2">
              <label class="input-label" for="length-{{ idx }}"> Length </label>
              <input
                [field]="item.dimensions.length"
                class="input-field"
                id="length-{{ idx }}"
                type="number"
                placeholder="length"
                autocomplete="length"
              />
            </div>
            <div class="mb-2 mr-2">
              <label class="input-label" for="width-{{ idx }}"> Width </label>
              <input
                [field]="item.dimensions.width"
                class="input-field"
                id="width-{{ idx }}"
                type="number"
                placeholder="width"
                autocomplete="width"
              />
            </div>
            <div class="mb-2">
              <label class="input-label" for="height-{{ idx }}"> Height </label>
              <input
                [field]="item.dimensions.height"
                class="input-field"
                id="height-{{ idx }}"
                type="number"
                placeholder="height"
                autocomplete="height"
              />
            </div>
            @for (error of shippingForm.packages[idx].dimensions().errors(); track $index) {
              <p class="input-error">{{ error.message }}</p>
            }
          </div>
          <div class="mb-2 mr-2">
            <label class="input-label" for="weight-{{ idx }}"> Weight </label>
            <input
              [field]="item.weight"
              class="input-field"
              id="weight-{{ idx }}"
              type="number"
              placeholder="weight"
              autocomplete="weight"
            />
            @for (error of shippingForm.packages[idx].weight().errors(); track $index) {
              <p class="input-error">{{ error.message }}</p>
            }
          </div>
          <hr class="my-4 border-gray-300" />
        }
      </fieldset>
    } @else {
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mb-4"
        type="button"
        (click)="addDocument()"
      >
        + Add Document
      </button>
      <fieldset>
        <legend>Documents</legend>
        @for (item of shippingForm.documents; track item; let idx = $index) {
          <div class="mb-2">
            <label class="input-label" for="doc-description-{{ idx }}"> Description </label>
            <input
              [field]="item.description"
              class="input-field"
              id="doc-description-{{ idx }}"
              type="text"
              placeholder="Description"
              autocomplete="description"
            />
            @for (error of shippingForm.documents[idx].description().errors(); track $index) {
              <p class="input-error">{{ error.message }}</p>
            }
          </div>
          <div class="mb-2 mr-2">
            <label class="input-label" for="doc-weight-{{ idx }}"> Weight </label>
            <input
              [field]="item.weight"
              class="input-field"
              id="doc-weight-{{ idx }}"
              type="number"
              placeholder="weight"
              autocomplete="weight"
            />
            @for (error of shippingForm.documents[idx].weight().errors(); track $index) {
              <p class="input-error">{{ error.message }}</p>
            }
          </div>
          <hr class="my-4 border-gray-300" />
        }
      </fieldset>
    }
  </form>
  <form-inspector class="inspector" [root]="shippingForm"></form-inspector>
</demo-layout>
