<form class="section">
  <div class="mb-4">
    <label class="input-label" for="username"> Username </label>
    <input
      [field]="loginForm.username"
      class="input-field"
      id="username"
      type="text"
      placeholder="Username"
      autocomplete="username"
    />
     @for (error of loginForm.username().errors(); track $index) {
      <p class="input-error">{{ error.message }}</p>
    }
  </div>
  <div class="mb-6">
    <label class="input-label" for="password"> Password </label>
    <input
      [field]="loginForm.password"
      class="input-field"
      id="password"
      type="password"
      placeholder="Password"
      autocomplete="current-password"
    />
    @for (error of loginForm.password().errors(); track $index) {
      <p class="input-error">{{ error.message }}</p>
    }
  </div>
  <div class="flex items-center justify-between">
    <button class="btn-primary" type="button" [disabled]="loginForm().invalid()">Sign In</button>
    <a class="link" href="#"> Forgot Password? </a>
  </div>
</form>
