<form class="section" (submit)="submitForm($event)">
  <div class="mb-4">
    <label class="input-label" for="email"> Email </label>
    <input
      [field]="loginForm.email"
      class="input-field"
      id="email"
      type="email"
      placeholder="Email"
      autocomplete="email"
    />
    @for (error of loginForm.email().errors(); track $index) {
      <p class="input-error">{{ error.message }}</p>
    }
  </div>
  <div class="mb-6">
    <label class="input-label" for="password"> Password </label>
    <input
      [field]="loginForm.password"
      class="input-field"
      id="password"
      type="password"
      placeholder="Password"
      autocomplete="current-password"
    />
    @for (error of loginForm.password().errors(); track $index) {
      <p class="input-error">{{ error.message }}</p>
    }
  </div>
  <div class="flex items-center justify-between">
    <button
      class="btn-primary"
      type="submit"
      [disabled]="loginForm().invalid() || loginForm().submitting()"
    >
      Sign In
    </button>
    <a class="link" href="#"> Forgot Password? </a>
  </div>
</form>
