@use 'tailwindcss';

@theme {
  --color-brand: #2e103b;
  --color-accent: #cfff00;
  --color-secondary: #5f9ea0;
  --color-card: #f1f1f1;

  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
  @apply bg-gray-100;
}
