@use 'tailwindcss';
@import '@ng-doc/app/styles/themes/dark.css';

.section {
  @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4;
}

.input-field {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight;
}

.input-slider {
  @apply w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700;
}

.input-border-error {
  @apply border border-red-500;
}

.input-error {
  @apply text-red-500 text-xs italic mb-2;
}

.input-label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

.btn-primary {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

.link {
  @apply inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800;
}

fieldset {
  @apply border border-gray-300 p-4 mb-4;
}

fieldset legend {
  @apply font-bold;
}

.disabled {
  @apply opacity-50 cursor-not-allowed;
  pointer-events: none;
}
